.needs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  list-style: none;
}

.needs__item {
  display: flex;
  min-height: 115px;
}

.needs__item svg {
  width: 70px;
  fill: @bg-button-pink;
}

.needs__link {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.needs__title {
  margin: 0;
  margin-top: 27px;
  padding: 0;

  font-family: "Georgia", serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  color: @nav-link;
  letter-spacing: 1.6px;
}

.needs__item--food svg {
  width: 47px;
  height: 58px;
}

.needs__item--transp svg {
  width: 66px;
  height: 66px;
}

.needs__item--toys svg {
  width: 60px;
  height: 59px;
}

.needs__item--bowls svg {
  width: 59px;
  height: 56px;
}

.needs__item--shamp svg {
  width: 31px;
  height: 59px;
}

.needs__item--vita svg {
  width: 65px;
  height: 59px;
}

.needs__item--med svg {
  width: 59px;
  height: 59px;
}

.needs__item--collars svg {
  width: 65px;
  height: 59px;
}

.needs__item--sleep svg {
  width: 55px;
  height: 59px;
}
