/* Common */

* {
  /*outline: 1px dashed gray;*/
  /* временно */
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}

.page {
  box-sizing: border-box;
  background-color: #ffffff;

  font-family: "Arial", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #cdcdcd;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin: 0 auto;
  width: 1170px;
}

/* Button */

.button {
  display: inline-block;
  box-sizing: border-box;

  vertical-align: top;
  text-align: center;

  font-family: "Georgia", serif;
  font-size: 17px;
  line-height: 17px;
  font-weight: 400;
  color: #292929;
  letter-spacing: 1px;

  border-radius: 30px;
}

.button--pink {
  background-color: #f1cdb3;
}

.button--pink:hover {
  background-color: #fddcc4;
}

.button--still {
  background-color: transparent;
  border: 2px solid #f1cdb3;
}

.button--round {
  box-sizing: border-box;
  width: 51px;
  height: 51px;
  background-color: transparent;

  border: 2px solid #f1cdb4;
  border-radius: 50%;

  cursor: pointer;
}

/* Header */

.page-header {
  width: 100%;
  min-height: 925px;

  background-color: #1b1b1d;
  background-image: url("../img/dog-background.png"),
  url("../img/background.png");
  background-repeat: no-repeat, no-repeat;
  background-position: 208% bottom, center top;
}

.page--pets .page-header {
  min-height: inherit;

  background-color: #fafafa;
  background-image: none;
}

.page-header__nav-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Logo */

.page-header__logo {
  margin-top: 55px;
}

.page-header__logo-link {
  display: block;
}

.page-header__logo-name,
.page-header__logo-desc {
  margin: 0;
  padding: 0;
}

.page-header__logo-name {
  margin-bottom: 1px;

  font-family: "Georgia", serif;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: 1.6px;
  color: #f1cdb3;
}

.page--pets .page-header__logo-name {
  letter-spacing: 1.6px;
  color: #545454;
}

.page-header__logo-desc {
  font-size: 13px;
  line-height: 29px;
  color: #ffffff;
  letter-spacing: 1.3px;
}

.page--pets .page-header__logo-desc {
  font-family: "Arial", sans-serif;
  font-size: 13px;
  line-height: 29px;
  font-weight: 400;
  color: #292929;
}

/* Navigation */

.main-nav {
  margin-top: 68px;
}

.site-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;

  margin: 0;
  padding: 0;

  list-style: none;
}

.site-list__item {
  margin-left: 41px;
}

.site-list__item--active {
  border-bottom: 3px solid #f1cdb3;
}

.site-list__link {
  display: inline-block;
  vertical-align: top;
  line-height: 29px;
  color: #cdcdcd;
}

.page--pets .site-list__link {
  color: #545454;
}

/* Promo */

.promo {
  width: 470px;
  padding-top: 233px;
}

.promo__title {
  width: 370px;
  margin: 0;
  margin-bottom: 28px;
  padding: 0;

  font-family: "Georgia", serif;
  font-size: 44px;
  line-height: 57px;
  font-weight: 400;
  color: #ffffff;
  letter-spacing: 2.5px;
}

.promo__desc {
  margin: 0 0 40px 0;
  padding: 0;
}

.promo-button {
  width: 203px;
  padding: 17px 10px 18px;
}

/* About */

.about {
  padding-top: 87px;
  padding-bottom: 90px;
  background-color: #fafafa;
}

.about__wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.about__pic {
  margin: 0;
  margin-right: 121px;
  margin-left: -4px;
  padding: 0;
  width: 300px;
  height: 408px;
}

.about__desc {
  width: 415px;
  padding-top: 25px;
}

.about__title {
  width: 320px;

  margin: 0;
  margin-bottom: 29px;
  padding: 0;

  font-family: "Georgia", serif;
  font-size: 35px;
  line-height: 45px;
  font-weight: 400;
  color: #545454;
  letter-spacing: 2px;
}

.about__text p {
  margin: 0;
  color: #4c4c4c;
}

.about__text p:first-child {
  margin-bottom: 24px;
}

/* Pets slider */

.pets {
  padding-top: 70px;
  padding-bottom: 67px;
  background-color: #f6f6f6;
}

.pets__title {
  display: flex;
  justify-content: center;

  margin: 0;
  margin-bottom: 65px;
  padding: 0;

  font-family: "Georgia", serif;
  font-size: 35px;
  line-height: 45px;
  font-weight: 400;
  color: #545454;
  letter-spacing: 2px;

  text-align: center;
}

.page--pets .pets__title {
  margin-bottom: 55px;
}

.pets__slider {
  margin-bottom: 65px;
}

.slider {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.slider__control,
.slider__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.slider__control {
  display: flex;
  align-items: center;
}

.slider__control-button {
  display: block;
}

.slider__control-button:hover {
  background-color: #f1cdb3;
}

.slider__control-button svg {
  position: relative;
  width: 15px;
  height: 10px;
  fill: #292929;
}

.slider__control-item--prev svg {
  top: 8px;
  left: 14px;
}

.slider__control-item--next svg {
  top: 14px;
  left: 16px;
  transform: rotate(180deg);
}

.slider__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  margin-left: 79px;
  margin-right: 79px;
}

.slider__item {
  margin-right: 50px;
}

.slider__item:last-child {
  margin-right: 0;
}

.card__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 270px;
  padding: 3px 0 34px 0;
  background-color: #fafafa;

  border-radius: 15px;
}

.card__wrap:hover {
  box-shadow: 2px 2px 30px 20px rgba(13, 13, 13, 0.04);
}

.card__img-wrap {
  margin: 0 0 23px 0;
  padding: 0;
}

.card__img {
  width: 270px;
  height: 270px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.card__title {
  margin: 0 0 20px 0;

  font-family: "Georgia", serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  color: #545454;
  letter-spacing: 1.3px;
}

.card__button {
  width: 189px;
  margin-top: auto;
  padding: 16px 10px 17px;

  font-family: "Georgia", serif;
  font-weight: 400;
  color: #292929;
}

.card__button:hover {
  background-color: #f1cdb3;
}

.pets__show-all {
  display: flex;
  justify-content: center;
  margin: 0;
}

.pets__show-button {
  width: 268px;
  padding: 16px 10px 19px;
  letter-spacing: 1px;
}

/* Список животных */

.page--pets .pets__list {
  margin-bottom: 28px;
}

.list__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
  list-style: none;
}

.page--pets .list__item {
  margin-right: 30px;
  margin-bottom: 34px;
}

.page--pets .list__item:nth-child(4n),
.page--pets .list__item:nth-child(8n) {
  margin-right: 0;
}

/* Help */

.help {
  padding: 70px 0 80px 0;
  background-color: #fafafa;
}

.help__slogan {
  margin: 0 auto 70px;
  padding: 0;
  width: 318px;
  text-align: center;

  font-family: "Georgia", serif;
  font-size: 35px;
  line-height: 45px;
  font-weight: 400;
  letter-spacing: 1.6px;
  color: #545454;
}

.help__list {
  margin: 0;
  padding: 0;
}

.help__list--top {
  margin-bottom: 75px;
  padding-left: 83px;
  padding-right: 60px;
}

.help__list--bottom {
  padding-left: 184px;
  padding-right: 150px;
}

.needs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  list-style: none;
}

.needs__item {
  display: flex;
  min-height: 115px;
}

.needs__item svg {
  width: 70px;
  fill: #f1cdb4;
}

.needs__link {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.needs__title {
  margin: 0;
  margin-top: 27px;
  padding: 0;

  font-family: "Georgia", serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  color: #545454;
}

.needs__item--food svg {
  width: 47px;
  height: 58px;
}

.needs__item--transp svg {
  width: 66px;
  height: 66px;
}

.needs__item--toys svg {
  width: 60px;
  height: 59px;
}

.needs__item--bowls svg {
  width: 59px;
  height: 56px;
}

.needs__item--shamp svg {
  width: 31px;
  height: 59px;
}

.needs__item--vita svg {
  width: 65px;
  height: 59px;
}

.needs__item--med svg {
  width: 59px;
  height: 59px;
}

.needs__item--collars svg {
  width: 65px;
  height: 59px;
}

.needs__item--sleep svg {
  width: 55px;
  height: 59px;
}

/* Donation */

.donation {
  padding-top: 70px;
  padding-bottom: 85px;
  background-color: #f6f6f6;
}

.donation__wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.donation__pic {
  width: 505px;
  height: 261px;

  margin: 0 65px 0 0;
  padding: 20px 0 0 0;
}

.donation__desk {
  width: 385px;
}

.donation__slogan {
  margin: 0 0 30px 0;

  font-family: "Georgia", serif;
  font-size: 35px;
  line-height: 45px;
  font-weight: 400;
  letter-spacing: 1.6px;
  color: #545454;
}

.donation__bank {
  margin: 0 0 13px 0;

  font-family: "Georgia", serif;
  font-size: 15px;
  line-height: 15px;
  font-weight: 400;
  color: #545454;
}

.donation__requisites {
  position: relative;
  box-sizing: border-box;
  width: 320px;
  background-color: #f1cdb3;

  margin: 0 0 33px 0;
  padding-left: 53px;

  font-family: "Times New Roman", serif;
  font-size: 20px;
  line-height: 45px;
  font-weight: 400;
  letter-spacing: 1.6px;
  color: #292929;

  border-radius: 10px;
}

.donation__requisites::before {
  position: absolute;
  content: "";

  top: 11px;
  left: 15px;

  width: 30px;
  height: 24px;

  background-size: 30px 24px;
  background-image: url("../img/credit-card.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.donation__legal {
  width: 350px;
  margin: 0;

  font-size: 12px;
  line-height: 18px;
  color: #b2b2b2;
  font-style: italic;
}

/* Footer */

.page-footer {
  background-color: #19181b;
}

.page-footer__wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.contacts {
  margin-right: 150px;
}

.contacts,
.location {
  width: 300px;
}

.contacts__slogan,
.location__slogan {
  margin: 0;
  padding: 0;

  font-family: "Georgia", serif;
  font-size: 35px;
  line-height: 45px;
  font-weight: 400;
  letter-spacing: 1.6px;
  color: #ffffff;
}

.contacts__slogan {
  margin-bottom: 33px;
}

.location__slogan {
  margin-bottom: 30px;
}

.contacts__list,
.location__adresses {
  list-style: none;
  margin: 0;
  padding: 0;
}

.contacts__item {
  position: relative;
  margin-bottom: 10px;
  padding-left: 63px;

  font-family: "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  color: #f1cdb3;
}

.contacts__item::before {
  position: absolute;
  content: "";
  left: 0;

  width: 41px;
  height: 34px;
  background-position: 0 0;
}

.contacts__item--email::before {
  top: 5px;
  left: 0;

  background-image: url("../img/envelope.svg");
  background-repeat: no-repeat;
  background-size: 41px 27px;
}

.contacts__item--phone::before {
  top: 0;
  left: 0;

  background-image: url("../img/telephone.svg");
  background-repeat: no-repeat;
  background-size: 41px 33px;
}

.location__adresses li {
  position: relative;
  padding-left: 46px;

  font-family: "Times New Roman", serif;
  font-size: 20px;
  line-height: 24px;
  color: #f1cdb3;
}

.location__adresses li::before {
  position: absolute;
  content: "";
  top: 0;
  left: -6px;
  width: 30px;
  height: 36px;

  background-image: url("../img/pin.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.location__boston::before {}

.location__london::before {}

.location__boston {
  margin-bottom: 30px;
}

.page-footer__pic {
  margin: 0;
  margin-left: auto;
  padding: 0;
  width: 300px;
  height: 316px;
}

/* Modal pet */

.modal {
  display: none;
}

.pet__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pet {
  position: relative;
  width: 970px;
  height: 470px;
  box-sizing: border-box;

  margin: 0 auto;
  background-color: #fafafa;

  border: 1px solid #fafafa;
  border-radius: 15px;

  box-shadow: 2px 2px 30px 20px rgba(13, 13, 13, 0.04);
}

.modal__close {
  position: absolute;
  top: -55px;
  right: -55px;
}

.modal__close svg {
  position: relative;
  top: 2px;

  width: 14px;
  height: 14px;

  fill: #292929;
}

.pet__pic {
  margin: 0;
  padding: 0;
  margin-right: 50px;
}

.pet-image {
  display: block;
  width: 470px;
  height: 470px;

  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.pet__desc {
  padding: 60px 35px 30px 0;
}

.pet__name,
.pet__breed {
  font-family: "Georgia", serif;
  font-weight: 400;
  letter-spacing: 1.6px;
  color: #545454;
}

.pet__name {
  margin: 0 0 15px 0;

  font-size: 35px;
  line-height: 35px;
}

.pet__breed {
  margin: 0 0 30px 0;

  font-size: 20px;
  line-height: 20px;
}

.pet__text {
  margin: 0 0 30px 0;

  width: 416px;
  color: #4c4c4c;
}

.pet__params {
  list-style: none;
  margin: 0;
  padding: 0 0 0 17px;

  font-size: 17px;
  line-height: 34px;
  color: #545454;
}

.pet__param {
  position: relative;
}

.pet__param::before {
  position: absolute;
  content: "";
  top: 12px;
  left: -14px;
  width: 5px;
  height: 5px;
  background-color: #f1cdb3;
}

/* Пагинатор */

.pagination {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.pagination__list {
  display: flex;
  justify-content: center;

  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination__item {
  margin-right: 17px;
}

.pagination__item--ellipsis {
  display: flex;
  align-items: center;
}

.pagination__item--ellipsis a {
  position: relative;
}

.pagination__item--ellipsis a::before {
  position: absolute;
  content: "";
  top: 10px;
  left: 0;
  width: 5px;
  height: 5px;
  background-color: #f1cdb3;
  border-radius: 50%;
  box-shadow:
    8px 0 0 0 #f1cdb3,
    16px 0 0 0 #f1cdb3;
}

.pagination__item--ellipsis a:hover {
  background-color: transparent;
}

.pagination__item:last-child {
  margin-right: 0;
}

.pagination__item--active a {
  background-color: #f1cdb3;
}

.pagination__link {
  display: inline-block;
  vertical-align: top;
  padding: 12px 10px 10px;

  font-family: "Times New Roman", serif;
  font-size: 20px;
  line-height: 20px;
  color: #292929;
}

.pagination__link:hover {
  background-color: #f1cdb3;
}
